body {
    margin: 0;
    color: white;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 250px;
    background-color: #273549;
    padding: 20px;

}
h1{
    color: inherit;

}
span{
    color:#55F991;

}
p{
    color: #D5D4D8;
}
.row{

}
.row3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn{
    background: #10B981;
    color: white;
    border: none;
    border-radius: 3px;

}
#pwd1, #pwd2 {
    background: ;
    color: aquamarine;
    background: #2F3E53;
    width: 90px;
    height: 30px;
    

}