body {
    margin: 0;
    color: white;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 450px;
    background-color: #273549;
    padding: 40px;

}
h1{
    color: inherit;

}
span{
    color:#55F991;

}
p{
    color: #D5D4D8;
}
.row{

}
.row3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #2F3E53;
    margin-top: 40px;
}
.btn{
    background: #10B981;
    color: white;
    border: none;
    border-radius: 3px;
    height:42px;
    width: 191px; 

}
#pwd1, #pwd2 {
    background: ;
    color: aquamarine;
    background: #2F3E53;
    width: 193px;
    height: 32px;
    overflow: scroll;
    

}